@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #9C7945;
  --accent1: #45050C;
  --accent2: #E1D28F;
}

body {
  color: var(--foreground);
  background: var(--background);
}
