@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Fredericka+the+Great&family=Rancho&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #9C7945;
  --accent1: "#45050C";
  --accent2: "#E1D28F";

  --nav-font: "Rancho", serif;
  --heading-font: "Fredericka the Great", serif;
  --paragraph-font: "Bigshot One", serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Bigshot One",serif;
}

h1, h2, h3, h4, h5, h6, .nav-text {
  font-family: "Fredericka the Great", serif;
}
